.cardGroup{
    margin: 60px;
    margin-left: 20%;
}
h1{
    padding-top: 50px;
    letter-spacing: 18px;
}
.mr-empire{
    background-color: #96B6C5;
    text-align: center;
    padding-bottom: 10px;
}
