.slide-img{
    width: 100%;
    height: 80vh;
}

h3{
    background-color: #009999;
    width: 30%;
    margin-left: 35%;
    letter-spacing: 5px;

}

p{
    color: #4F709C;
}

@media (max-width:900px) {
    .slide-img{
        width: 100%;
        height: 50vh;
    }
    h3{
        background-color: #009999;
        width: 90%;
        margin-left: 10%;
        letter-spacing: 5px;
    }
}
